SQLiteAnalyzer.pro.user
build
src/build
*.o
.qmake.stash
*.app
moc_*
ui_mainwindow.h
src/release
src/debug
src/.qtc_clangd
src/Makefile*
src/recents
src/.idea
src/cmake-build-debug
.vscode/settings.json
src/Artifacts
