SQLiteAnalyzer.pro.user
build
src/build
*.o
.qmake.stash
*.app
moc_*
ui_mainwindow.h
src/release
src/debug
src/.qtc_clangd
src/Makefile*
src/recents
src/.idea
src/cmake-build-debug
.vscode/settings.json
src/artifacts
.DS_Store
src/.qt
src/CMakeFiles
src/SQLiteQueryAnalyzer_autogen
*.dmg
src/cmake_install.cmake
src/CMakeCache.txt
src/SQLiteQueryAnalyzer
src/.cmake
src/.ninja*
src/build.ninja
src/Testing
src/.sonarlint
.vs
CMakeFiles
SQLiteQueryAnalyzer_autogen
cmake_install.cmake
CMakeCache.txt
SQLiteQueryAnalyzer
.cmake
.ninja*
build.ninja
Makefile
cmake-build-debug
artifacts/SQLiteQueryAnalyzer-Setup.exe
*.nupkg
6.9.0
*aqtinstall.log
linux/usr/share/icons/hicolor/256x256/apps/sqlitequery.png
SQLiteQueryAnalyzer-1.0-Linux.7z
SQLiteQueryAnalyzer-1.0-Linux.deb
SQLiteQueryAnalyzer-1.0-Linux.rpm
SQLiteQueryAnalyzer-1.0-Linux.tar.Z
SQLiteQueryAnalyzer-1.0-Linux.tar.bz2
SQLiteQueryAnalyzer-1.0-Linux.tar.gz
SQLiteQueryAnalyzer-1.0-Linux.tar.xz
SQLiteQueryAnalyzer-1.0-Linux.zip
sqlitequery_1.0.0_amd64.snap
_CPack_Packages
linux/bin
linux/lib
linux/plugins
linux/translations
*.snap
_codeql_detected_source_root
.squad/orchestration-log/
.squad/log/
.squad/decisions/inbox/
.squad/sessions/
.squad-workstream
.idea
debug
release
Makefile.Debug
Makefile.Release
dist/artifacts
cmake-build-debug-visual-studio-2026/
linux/include
