name: Windows

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**/*'
      - '!.github/workflows/windows*.yml'
      - '!src/project/*'
      - '!src/**/*'
    branches:
      - '*'

jobs:
  build:
    uses: ./.github/workflows/windows-template.yml
    with:
      version: 0.2.${{ github.run_number }}
      release: false
    secrets: inherit
